page-welcome {
ion-content{
  //  background-color: firebrick !important;
  
    //  background-color: rgba(11, 11, 11,0.9) !important;
    background-color: #212121 !important;
   
   
    color:white !important;
  
    h1{
        color:white;
        text-align: center;
    }
    .pic {
       // width:50%;
       // text-align:center !important;
       margin:auto !important;
        
    }



    ion-item{
        margin-top:0vh !important;
        height:8vh;
        background-color: #212121 !important;
       
        p{
      //  color:firebrick !important;
         }
         }
        .name{
            vertical-align: center;
            padding-top: 2.5vh ;
            padding-left:0vw;
        }
     .user 
          {
       padding-right:0vw !important;
      border-radius: 100%;
      width: 2.5em;
      height: 2.5em;
      object-fit: cover;
          }


.b-div{
    margin-top: 15px;
}
     .buttonz{
         background-color:transparent !important;
      //   border-radius: 2px !important;
       //  border-bottom-color: white !important;
         text-align: center;
         margin: auto;
         color:firebrick;
     }
.centerz{
        text-align: center;
        width:20%;
   
}
     .floating{
        // float: center;
         text-align: center;
         margin: auto;
     }

     .tests{
         font-size: 12px !important;
     }
}
}
